.faq-section{
    position: relative;

    @include tablet{
        overflow: hidden;
    }

    @include for-mobile{
        background: transparent url(../img/sprite/faq_bg_desktop.svg) no-repeat 96% 80px;
        background-size: cover;
        padding: 100px 0 70px;
        margin-top: -100px;
    }

    @include mobile{
        padding-bottom: 20px;
    }

    &__box{
       display: grid;
       grid-template-columns: .66fr 1fr;
       grid-gap: 24px;
       align-items: center;

       @include laptop{
        @include for-tablet{
            grid-template-columns: .3fr 1fr;
            grid-gap: 12px;
        }
       }

       @include tablet{
        grid-template-columns: 100%;
       }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: 48px;

        @include tablet{
            order: -1;
        }
    }

    &__title{
        margin-top: 48px;
        font-size: clamp(44px, 4.8452vw, 72px);
        height: 100px;
        rotate: 12deg;
        -webkit-text-stroke: 3px rgba(var(--cl-b),1.0);
        color: rgba(var(--cl-d),1.0);
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline;
        width: 100%;
        overflow: hidden;
        align-self: flex-start;
        margin-left: 40px;

        @include laptop{
            @include for-tablet{
                max-width: 90%;
            }
        }

        @include tablet{
            font-size: clamp(30px, 8.789vw, 90px);
        }

        @include mobile{
            rotate: -1deg;
            height: initial;
            margin-left: 0;
        }
    }

    &__icon{
        @include mobile{
            height: 150px;
            width: 180px;
            position: absolute;
            top: -93px;
            right: 10px;
            z-index: 1;

            svg,img{
                width: 100%;
                height: auto;
            }
        }
    }

    &__subtitle{
        transform: rotate(-3deg);
        font-size: clamp(45px, 3.6339vw, 54px);

        @include tablet{
            align-self: center;
        }

        @include mobile{
            font-size: 30px;
        }
    }

    &__image{
        width: 100%;
        max-width: 630px;

        img{
            vertical-align: middle;
            width: 100%;
            height: auto;
        }

        @include mobile{
            width: 115%;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .main-btn{
            rotate: -6deg;
            margin-top: 30px;

            @include mobile{
                font-size: 25px;
                border-width: 2px;
                -webkit-text-stroke: 4px black;
                paint-order: stroke fill;
                margin-bottom: 70px;
            }
        }

        @include small-tablet{
            position: relative;
        }

        @include mobile{
        background: transparent url(../img/sprite/faq_bg_desktop.svg);
        background-size: 235%;
        background-repeat: no-repeat;
        background-position: center;
        }
    }

    .socials{
        align-self: flex-start;
        margin:30px 0 0 64px;

        @include mobile{
            margin:15px 0 0 24px;
        }
    }
}