.promo-section{
    position: relative;
    z-index: 2;

    @include for-mobile{
        padding-bottom: 150px;
    }

    @include mobile{
        padding-top: 150px;
        padding-bottom: 20px;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 48px;

        @include small-tablet{
            grid-gap: 24px;
        }
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 20px;
        position: relative;

        .title{
            padding-inline: 100px;
            transform: rotate(-3deg);

            @include tablet{
                @include for-small-tablet{
                    font-size: 40px;
                }
            }

            @include small-tablet{
                font-size: 28px;
                padding-inline: 40px;
                -webkit-text-stroke: 4px black;
               
            }
        }
    }

    &__icon{
        position: absolute;
        right: 0;
        top: -100px; 
        display: block;
        width: 300px clamp(200px, 20.1884vw, 300px);
        height: clamp(120px, 13.459vw, 200px);

        @include small-tablet{
            @include for-mobile{
                width: 200px;
                height: 120px;
                top: -50px;
            }
        }

        @include mobile{
            top: -150px;
            right: unset;
            left: -50px;
        }

        img,svg{
            width: 100%;
            height: 100%;
        }
    }
}