<footer>
  <div class="container">
    <div class="footer__box">
      <div class="footer__top">
        <div class="footer-logo">
          <svg width='112' height='112'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </div>

        <nav class="main-nav">
          <ul>
            <li>
              <a href="#">Staking</a>
            </li>
            <li>
              <a href="#">Roadmap</a>
            </li>
            <li>
              <a href="#">Tokenomics</a>
            </li>
            <li>
              <a href="#">How To Buy</a>
            </li>
            <li>
              <a href="#">FAQS</a>
            </li>
            <li>
              <a href="#">Buy Now</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__bottom">
        <span class="footer__copyright">Copyright 2024 — Big Bird</span>

        <p>Cryptocurrency investments carry a high risk of volatility. Be aware of the tax implications, as profits may be subject to capital gains or other taxes in your jurisdiction. Cryptocurrency
          regulations can vary, so ensure you understand the rules in your area. Conduct thorough research and invest only what you can afford to lose.</p>
      </div>
    </div>
  </div>
</footer>