<header class="header">
  <div class="container">
    <div class="header__box">
      <a href="index.html" class="logo">
       <svg width='262' height='78'>
         <use href='static/img/sprite/sprite.svg#logo'></use>
       </svg>
      </a>

      <div class="mobile">
        <nav class="main-nav">
          <ul>
            <li>
              <a href="#">Staking</a>
            </li>
            <li>
              <a href="#">Roadmap</a>
            </li>
            <li>
              <a href="#">Tokenomics</a>
            </li>
            <li>
              <a href="#">How To Buy</a>
            </li>
            <li>
              <a href="#">FAQS</a>
            </li>
            <li>
              <a href="#">WhitePaper</a>
            </li>
            <li>
              <a href="#">Comic Story</a>
            </li>
          </ul>
        </nav>
  
        <button class="transparent-btn">
          Buy Now!
        </button>
      </div>

      <button class="burger">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>