<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Flockerz">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flockerz</title>

    <link rel="preload" href="static/fonts/Inter-ExtraBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Inter-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Inter-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Inter-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Poppins-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Poppins-Medium.woff" as="font" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css">
</head>
