<div class="overlay fixed-block" data-overlay>

    <div class="modal" data-popup="connect">
       <button class="close modal__close">
        <svg width='14' height='14'>
          <use href='static/img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal__box">
        <h2 class="modal__title">Connect wallet</h2> 
       
        <ul class="modal__list">
            <li class="modal__item">
                <button class="modal-btn">
                    Connect wallet
                    <img width='32' height='32' src='static/img/sprite/wallet.svg' alt='image'>
                </button>
            </li>
            <li class="modal__item">
                <button class="modal-btn">
                    best wallet
                    <img width='32' height='32' src='static/img/index/bw.png' alt='image'>
                </button>
            </li>
            <li class="modal__item">
                <button class="modal-btn">
                    metamask
                    <img width='32' height='32' src='static/img/sprite/metamask.svg' alt='image'>
                </button>
            </li>
            <li class="modal__item">
                <button class="modal-btn">
                    Coinbase Wallet
                    <img width='32' height='32' src='static/img/sprite/coinbase.svg' alt='image'>
                </button>
            </li>
            <li class="modal__item">
                <button class="modal-btn mode">
                    <img width='32' height='32' src='static/img/sprite/ani-wallet.svg' alt='image'>
                    create wallet
                </button>
            </li>
        </ul>

      </div>
    </div>
  </div>