@mixin font-face($font-family, $url, $weight: null, $style: normal) {
  @font-face {
    font-style: $style;
    @if $weight {
      font-weight: #{$weight};
    }
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
         url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("badaboom", "badaboom", '', normal);
@include font-face("HeyComic", "HeyComic", '', normal);

@include font-face("Poppins", "Poppins-Bold", 700, normal);



